@import 'vars', 'global.css';

#grid-container{
  display: grid;
  grid-template-columns: repeat(2, 265px);
  grid-template-rows: minmax(40px, auto) repeat(2, 220px);
  //god. why didn't I use template rows and columns? I'm so stupid lmao.
  grid-template-areas:
  "welcome-msg welcome-msg"
  "about-me-elem journal-elem"
  "portfolio-elem portfolio-elem";
  gap: 10px;

  >.grid-elem:first-child{
    grid-area: welcome-msg;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    user-select: none;
    overflow-wrap: anywhere;
  }
  
  >.grid-elem:last-child{
    grid-area: portfolio-elem;
    >.grid-desc{
      left: ($pos-x-y - 2%);
    }
  }
}

.grid-elem{
  display: flex;
  position: relative;
  
  background-color: rgba($color: #000000, $alpha: 0.3);
  border: solid black;
  border-radius: 5px;
  box-shadow: black 3px 3px 6px 1px;
  
  transition: 0.15s;
  
  >img{
    margin: auto;
    width: 125px;
  }
}

.grid-elem:hover{
  box-shadow: black 5px 5px 10px 3px;
  transform: translate(-2px, -2px);
}

.grid-elem:active{
  box-shadow: black 1px 1px 1px 0px;
  transform: translate(3px, 3px);
}

.grid-desc{
  position: absolute;
  left: $pos-x-y;
  bottom: $pos-x-y;
  font-size: larger;
}

//  Mobile portrait mode
@media ((320px <= width <= 450px) and (677px <= height <= 932px)){
  #grid-container{
    grid-template-columns: repeat(2, 45vw);
    grid-template-rows: minmax(40px, auto) repeat(2, 30vh);
  }

  .grid-elem{
    >img{
      width: 28vw;
    }
  }
}

//  Mobile landscape mode
@media ((320px <= height <= 450px) and (677px <= width <= 932px)){
  #grid-container{
    grid-template-columns: repeat(2, 25vw);
    grid-template-rows: minmax(40px, auto) repeat(2, 35vh);
  }

  .grid-elem{
    >img{
      width: 10vw;
    }
  }
}
