@import 'global', 'vars';

#welcome-msg{
  cursor: pointer;
  text-align: center;
  font-size: larger;
  user-select: none;
  margin-bottom: 10px;
  padding: 10px 0;
  width: (($grid-elem-w * 2) + $grid-gap + 7); // 7 is a constant and shall not be changed.

  color: white;
  text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;
  font-weight: bold;

  background-color: rgba($color: #000000, $alpha: 0.3);
  border: solid black;
  border-radius: 5px;
  box-shadow: black 3px 3px 6px 1px;
  transition: 0.1s all;
}

#welcome-msg:active{
  box-shadow: black 1px 1px 1px 0px;
  transform: translate(3px, 3px);
}

#options-grid{
  display: grid;
  grid-template-areas:
  "about-me-elem journal-elem"
  "portfolio-elem portfolio-elem";
  gap: $grid-gap;
  
  >a:nth-child(3){
    grid-area: portfolio-elem;

    >.grid-elem{
      height: $grid-elem-h;
      width: (($grid-elem-w * 2) + $grid-gap + 7); // 7 is a constant and shall not be changed.

      >.grid-desc{
        left: ($grid-desc-pos-xy - 2%);
      }
    }
  }
}

.grid-elem{
  display: flex;
  position: relative;
  height: $grid-elem-h;
  width: $grid-elem-w;
  
  background-color: rgba($color: #000000, $alpha: 0.3);
  border: solid black;
  border-radius: 5px;
  box-shadow: black 3px 3px 6px 1px;
  transition: 0.1s all;
  
  >img{
    margin: auto;
    width: 150px;
  }
}

.grid-elem:active{
  box-shadow: black 1px 1px 1px 0px;
  transform: translate(3px, 3px);
}

.grid-desc{
  position: absolute;
  left: $grid-desc-pos-xy;
  bottom: $grid-desc-pos-xy;

  font-size: larger;
  font-weight: bold;
  text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;  // I know I can use webkit-text-stroke, but I prefer this
}