@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;  // I know I can use webkit-text-stroke, but I prefer this
}

p{
  font-weight: normal;
}

html, body{
  margin: 0;
  height: 100%;
}

body{
  background: radial-gradient(at center top, #891617, #00000000),
   radial-gradient(at center bottom, #680a7f, #00000000);
   background-color: rgb(24, 24, 24);
   background-size: cover;
   background-attachment: fixed;
}

.wrapper{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}